/* CSS de base pour tous les appareils */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ecran {
  width: 100%;
  height: 100vh;
  background-image: url(media/background.png);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carte {
  width: 90%;
  max-width: 600px;
  color: #FFF;
  text-align: center;
  padding: 25px;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 16px;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.carte img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover; /* Pour garantir que l'image reste ronde */
}

.carte .title {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  color: #4CAF50; /* Pour un rendu plus professionnel */
}

.carte .info {
  font-family: 'Roboto', sans-serif;
  color: rgb(232, 232, 232);
  font-size: 18px;
  margin-top: 10px;
}

.carte .info h4 {
  margin-bottom: 10px; /* Ajoute un espace entre le titre et le paragraphe */
}

.carte .reseau img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 15px;
  transition: transform 0.3s ease;
}

.carte .reseau img:hover {
  transform: scale(1.1);
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.button {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #FFF;
  padding: 15px 20px;
  border-radius: 25px;
  background: #3b5998;
  transition: background 0.3s ease;
}

.button:hover {
  background: #314e86;
}

.skills-container {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  color: #4CAF50;
  margin-top: 20px;
  text-align: center;
}

#cursor {
  display: inline-block;
  font-weight: bold;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

/* Media Queries pour la responsivité */

/* Petits appareils (téléphones) */
@media (max-width: 768px) {
  .carte {
    width: 95%;
    padding: 20px;
  }

  .carte img {
    width: 100px;
    height: 100px;
  }

  .carte .title {
    font-size: 20px;
  }

  .carte .info {
    font-size: 16px;
  }

  .buttons {
    width: 100%;
    flex-direction: column;
  }

  .button {
    width: 90%;
    padding: 10px 15px;
    font-size: 18px;
  }

  .skills-container {
    font-size: 16px;
    margin-top: 15px;
  }

  .reseau img {
    width: 30px;
    height: 30px;
    margin: 10px;
  }
}
